@import "tailwindcss";
@import "@heroui/styles";

@theme{
    --color-bg: #CCFF99;
    --color-primary: #2E7700;
    --color-secondary: #FFFFFF;
    --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --font-mono: ui-monospace, Consolas, monospace;
}

@layer base {
    body {
        @apply bg-bg m-0 font-sans;
    }

    h1, h2, h3, h4, h5, h6{
        @apply text-primary font-bold;
    }

    h1{
        @apply text-[2.5rem];
    }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@container (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


